{{- define "Message"}}
type {{.Name}} struct {
    {{- range $field := .Fields }}
    {{ $field.Name }} {{ $field.Type }} `{{- $field.MarshalledTag }}`
    {{- end }} 
}

func (x *{{.Name}}) New() protolizer.Reflected {
    return new({{.Name}})
}

func (x *{{.Name}}) Type() protolizer.Type {
    return *protolizer.CaptureTypeByName("{{.TypeName}}")
}

func (x *{{.Name}}) Encode(field *protolizer.Field, buffer *bytes.Buffer) error {
    switch field.Tags.Protobuf.FieldNum {
        {{- range $field := .Fields}}
            case {{ $field.FieldNum }}: {
                {{- if eq $field.Optional true }}
                    if x.{{$field.Name}} == nil {
                        return nil
                    }
                {{- end }}
                {{- if eq $field.Kind 1}}
                    data, err := protolizer.BooleanEncoder({{if eq $field.Optional true}}*{{end}}x.{{$field.Name}}, field)
                    defer protolizer.Dealloc(data)
                    if err != nil {
                        return err
                    }
                    data.WriteTo(buffer)
                    return nil
                {{- else if or (eq $field.Kind 2) (eq $field.Kind 3) (eq $field.Kind 4) (eq $field.Kind 5) (eq $field.Kind 6) }} 
                    data, err := protolizer.SignedNumberEncoder(int64({{if eq $field.Optional true}}*{{end}}x.{{$field.Name}}), field)
                    defer protolizer.Dealloc(data)
                    if err != nil {
                        return err
                    }
                    data.WriteTo(buffer)
                    return nil
                {{- else if or (eq $field.Kind 7) (eq $field.Kind 8) (eq $field.Kind 9) (eq $field.Kind 10) (eq $field.Kind 11) }} 
                    data, err := protolizer.UnsignedNumberEncoder(uint64({{if eq $field.Optional true}}*{{end}}x.{{$field.Name}}), field)
                    defer protolizer.Dealloc(data)
                    if err != nil {
                        return err
                    }
                    data.WriteTo(buffer)
                    return nil
                {{- else if eq $field.Kind 13}} 
                    data, err := protolizer.FloatEncoder(int64({{if eq $field.Optional true}}*{{end}}x.{{$field.Name}}), field)
                    defer protolizer.Dealloc(data)
                    if err != nil {
                        return err
                    }
                    data.WriteTo(buffer)
                    return nil 
                {{- else if eq $field.Kind 14}} 
                    data, err := protolizer.DoubleEncoder(int64({{if eq $field.Optional true}}*{{end}}x.{{$field.Name}}), field)
                    defer protolizer.Dealloc(data)
                    if err != nil {
                        return err
                    }
                    data.WriteTo(buffer)
                    return nil 
                {{- else if eq $field.Kind 17}} 
                    {{- if eq $field.Index 8}}
                        data, err := protolizer.EncodeBytes(int64({{if eq $field.Optional true}}*{{end}}x.{{$field.Name}}), field)
                        defer protolizer.Dealloc(data)
                        if err != nil {
                            return err
                        }
                        data.WriteTo(buffer)
                        return nil 
                    {{- else if or eq $field.kind 1}}
                        innerBuffer := protolizer.Alloc(0)
                        defer protolizer.Dealloc(innerBuffer)
                        for _, value := range x.{{$field.Name}} {
                            data, err := protolizer.BooleanEncoder(value, field)
                            if err != nil {
                                return err
                            }
                            data.WriteTo(innerBuffer)
                            protolizer.Dealloc(data)
                        }
                        bytes := protolizer.BytesEncode(innerBuffer.Bytes())
                        bytes.WriteTo(buffer)
                        protolizer.Dealloc(bytes)
                        return nil
                    {{- else if or (eq $field.Kind 2) (eq $field.Kind 3) (eq $field.Kind 4) (eq $field.Kind 5) (eq $field.Kind 6) }}
                        innerBuffer := protolizer.Alloc(0)
                        defer protolizer.Dealloc(innerBuffer)
                        for _, value := range x.{{$field.Name}} {
                            data, err := protolizer.SignedNumberEncoder(int64(value), field)
                            if err != nil {
                                return err
                            }
                            data.WriteTo(innerBuffer)
                            protolizer.Dealloc(data)
                        }
                        bytes := protolizer.BytesEncode(innerBuffer.Bytes())
                        bytes.WriteTo(buffer)
                        protolizer.Dealloc(bytes)
                        return nil
                    {{- else if or eq ($field.Kind 7) (eq $field.Kind 9) (eq $field.Kind 10) (eq $field.Kind 11) }}
                        innerBuffer := protolizer.Alloc(0)
                        defer protolizer.Dealloc(innerBuffer)
                        for _, value := range x.{{$field.Name}} {
                            data, err := protolizer.UnsignedNumberEncoder(uint64(value), field)
                            if err != nil {
                                return err
                            }
                            data.WriteTo(innerBuffer)
                            protolizer.Dealloc(data)
                        }
                        bytes := protolizer.BytesEncode(innerBuffer.Bytes())
                        bytes.WriteTo(buffer)
                        protolizer.Dealloc(bytes)
                        return nil
                    {{- else if eq $field.Kind 13 }}
                        innerBuffer := protolizer.Alloc(0)
                        defer protolizer.Dealloc(innerBuffer)
                        for _, value := range x.{{$field.Name}} {
                            data, err := protolizer.FloatEncoder(value, field)
                            if err != nil {
                                return err
                            }
                            data.WriteTo(innerBuffer)
                            protolizer.Dealloc(data)
                        }
                        bytes := protolizer.BytesEncode(innerBuffer.Bytes())
                        bytes.WriteTo(buffer)
                        protolizer.Dealloc(bytes)
                        return nil
                    {{- else if eq $field.Kind 14 }}
                        innerBuffer := protolizer.Alloc(0)
                        defer protolizer.Dealloc(innerBuffer)
                        for _, value := range x.{{$field.Name}} {
                            data, err := protolizer.DoubleEncoder(value, field)
                            if err != nil {
                                return err
                            }
                            data.WriteTo(innerBuffer)
                            protolizer.Dealloc(data)
                        }
                        bytes := protolizer.BytesEncode(innerBuffer.Bytes())
                        bytes.WriteTo(buffer)
                        protolizer.Dealloc(bytes)
                        return nil
                    {{- else if eq $field.Kind 24 }}
                        tag, err := protolizer.TagEncode(int32fieldfield.Tags.Protobuf.FieldNum), protolizer.WireTypeLen)
                        defer protolizer.Dealloc(tag)
                        if err != nil {
                            return err
                        }
                        for i, x := range x.{{$field.Name}} {
                            if i != 0 {
                                buffer.Write(tag.Bytes())
                            }
                            data, err := protolizer.StringEncoder(x, field)
                            if err != nil {
                                return err
                            }
                            data.WriteTo(buffer)
                            protolizer.Dealloc(data)
                        }
                        return nil
                    {{- else if eq $field.Kind 25 }}
                        tag, err := protolizer.TagEncode(int32(field.Tags.Protobuf.FieldNum), protolizer.WireTypeLen)
                        defer protolizer.Dealloc(tag)
                        if err != nil {
                            return err
                        }
                        for i, value := range x.{{$field.Name}} {
                            if i != 0 {
                                buffer.Write(tag.Bytes())
                            }
                            data, err := protolizer.FastMarshal(x.{{$field.Name}})
                            if err != nil {
                                return err
                            }
                            buffer.Write(data)
                        }
                        return nil  
                    {{- else }}
                        return fmt.Errorf("unsupported index type %T", x.{{$field.Name}})
                    {{- end }}
                {{- else if eq $field.Kind 21}}
                    tag, err := protolizer.TagEncode(int32(field.Tags.Protobuf.FieldNum), protolizer.WireTypeLen)
                    defer protolizer.Dealloc(tag)
                    if err != nil {
                        return err
                    }
                    i := 0
                    for key, value := range x.{{$field.Name}} {
                        if i != 0 {
                            buffer.Write(tag.Bytes())
                        }
                        i++
                        innerBuffer := protolizer.Alloc(0)
                        innerBuffer.Write(f.KeyTag)
                        {{- if or eq $field.Key eq 1}}
                            k, err := protolizer.BooleanEncoder(key, field)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 2) (eq $field.Key 3) (eq $field.Key 4) (eq $field.Key 5) (eq $field.Key 6) }}
                            k, err := protolizer.SignedNumberEncoder(int64(key), field)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 7) (eq $field.Key 8) (eq $field.Key 9) (eq $field.Key 10) (eq $field.Key 11) }}
                            k, err := protolizer.UnsignedNumberEncoder(int64(key), field)
                            if err != nil {
                                return err
                            }
                        {{- else if or eq $field.Key eq 13}}
                            k, err := protolizer.FloatEncoder(float32(key), field)
                            if err != nil {
                                return err
                            }    
                        {{- else if or eq $field.Key eq 14}}
                            k, err := protolizer.DoubleEncoder(float64(key), field)
                            if err != nil {
                                return err
                            }     
                        {{- else if or eq $field.Key eq 24}}
                            k, err := protolizer.StringEncoder(key, field)
                            if err != nil {
                                return err
                            }            
                        {{- else }}
                            return fmt.Errorf("unsupported key type %T", key})
                        {{- end }}
                        k.WriteTo(innerBuffer)
                        protolizer.Dealloc(k)
                        innerBuffer.Write(f.ValueTag)
                        {{- if or eq $field.ValueTag eq 1}}
                            v, err := protolizer.BooleanEncoder(value, field)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 2) (eq $field.Key 3) (eq $field.Key 4) (eq $field.Key 5) (eq $field.Key 6) }}
                            v, err := protolizer.SignedNumberEncoder(int64(value), field)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 7) (eq $field.Key 8) (eq $field.Key 9) (eq $field.Key 10) (eq $field.Key 11) }}
                            v, err := protolizer.UnsignedNumberEncoder(int64(value), field)
                            if err != nil {
                                return err
                            }
                        {{- else if or eq $field.Value eq 13}}
                            v, err := protolizer.FloatEncoder(float32(value), field)
                            if err != nil {
                                return err
                            }    
                        {{- else if or eq $field.Value eq 14}}
                            v, err := protolizer.DoubleEncoder(float64(value), field)
                            if err != nil {
                                return err
                            }     
                        {{- else if or eq $field.Value eq 24}}
                            v, err := protolizer.StringEncoder(value, field)
                            if err != nil {
                                return err
                            }  
                        {{- else if or eq $field.Value eq 25}}
                            _v, err := protolizer.FastMarshal(value)
                            if err != nil {
                                return err
                            }  
                            v := protolizer.Alloc(0)
                            v.Write(_v)
                        {{- else }}
                            return fmt.Errorf("unsupported value type %T", value})
                        {{- end }}

                        v.WriteTo(innerBuffer)
                        protolizer.Dealloc(v)
                        bytes := protolizer.BytesEncode(innerBuffer.Bytes())
                        bytes.WriteTo(buffer)
                        protolizer.Dealloc(innerBuffer)
                        protolizer.Dealloc(bytes)
                    }
                    return nil 
                {{- else if eq $field.Kind 24}}
                    data, err := protolizer.StringEncoder({{if eq $field.Optional true}}*{{end}}x.{{$field.Name}}, field)
                    defer protolizer.Dealloc(data)
                    if err != nil {
                        return err
                    }
                    data.WriteTo(buffer)
                    return nil
                {{- else if eq $field.Kind 25}}
                    data, err := protolizer.FastMarshal(x.{{$field.Name}})
                    if err != nil {
                        return err
                    }  
                    buffer.Write(data)
                    return nil
                {{- else }}
                    return fmt.Errorf("unsupported field type %T", key})
                {{- end }}

            }
        {{- end }}        
        default: {
            return fmt.Errorf("invalid field")
        }
    }    
} 

func (x *{{.Name}}) Decode(field *protolizer.Field, buffer *bytes.Buffer) error {
    switch field.Tags.Protobuf.FieldNum {
        {{- range $field := .Fields}}
            case {{ $field.FieldNum }}: {
                {{- if eq $field.Kind 1}}
                    value, err := protolizer.BooleanDecoder(field, buffer)
                     if err != nil {
                        return err
                    } 
                    x.{{$field.Name}} = {{- if eq $field.Optional true}}&{{end}}value
                    return nil
                {{- else if or (eq $field.Kind 2) (eq $field.Kind 3) (eq $field.Kind 4) (eq $field.Kind 5) (eq $field.Kind 6) }} 
                    value, err := protolizer.SignedNumberDecoder(field, buffer)
                     if err != nil {
                        return err
                    } 
                    x.{{$field.Name}} = {{- if eq $field.Optional true}}&{{end}}value
                     return nil
                {{- else if or (eq $field.Kind 7) (eq $field.Kind 8) (eq $field.Kind 9) (eq $field.Kind 10) (eq $field.Kind 11) }} 
                    value, err := protolizer.UnsignedNumberDecoder(field, buffer)
                     if err != nil {
                        return err
                    } 
                    x.{{$field.Name}} = {{- if eq $field.Optional true}}&{{end}}value
                     return nil
                {{- else if eq $field.Kind 13}} 
                    value, err := protolizer.FloatDecoder(field, buffer)
                     if err != nil {
                        return err
                    } 
                    x.{{$field.Name}} = {{- if eq $field.Optional true}}&{{end}}value
                    return nil
                {{- else if eq $field.Kind 14}} 
                    value, err := protolizer.DoubleDecoder(field, buffer)
                     if err != nil {
                        return err
                    } 
                    x.{{$field.Name}} = {{- if eq $field.Optional true}}&{{end}}value
                    return nil
                {{- else if eq $field.Kind 17}} 
                    {{- if eq $field.Index 8}}
                        bytes, err := protolizer.BytesDecode(buffer)
                        if err != nil {
                            return err
                        }
                        x.{{$field.Name}} = bytes
                        return nil
                    {{- else if or eq $field.kind 1}}
                        bytes, err := protolizer.BytesDecode(buffer)
                        if err != nil {
                            return err
                        }
                        innerBuffer := protolizer.Alloc(0)
                        innerBuffer.Write(bytes)
                        defer protolizer.Dealloc(innerBuffer)
                        for innerBuffer.Len() != 0 {
                            value, err := protolizer.BooleanDecoder(f, innerBuffer, protolizer.WireTypeVarint)
                            if err != nil {
                                return err
                            }
                            x.{{$field.Name}} = append(x.{{$field.Name}}, {{$field.Type}}(value))
                        }
                        return nil
                    {{- else if or (eq $field.Kind 2) (eq $field.Kind 3) (eq $field.Kind 4) (eq $field.Kind 5) (eq $field.Kind 6) }}
                        bytes, err := protolizer.BytesDecode(buffer)
                        if err != nil {
                            return err
                        }
                        innerBuffer := protolizer.Alloc(0)
                        innerBuffer.Write(bytes)
                        defer protolizer.Dealloc(innerBuffer)
                        for innerBuffer.Len() != 0 {
                            value, err := protolizer.SignedNumberDecoder(f, innerBuffer, protolizer.WireTypeVarint)
                            if err != nil {
                                return err
                            }
                            x.{{$field.Name}} = append(x.{{$field.Name}}, {{$field.Type}}(value))
                        }
                        return nil
                    {{- else if or eq ($field.Kind 7) (eq $field.Kind 9) (eq $field.Kind 10) (eq $field.Kind 11) }}
                        bytes, err := protolizer.BytesDecode(buffer)
                        if err != nil {
                            return err
                        }
                        innerBuffer := protolizer.Alloc(0)
                        innerBuffer.Write(bytes)
                        defer protolizer.Dealloc(innerBuffer)
                        for innerBuffer.Len() != 0 {
                            value, err := protolizer.UnsignedNumberDecoder(f, innerBuffer, protolizer.WireTypeVarint)
                            if err != nil {
                                return err
                            }
                            x.{{$field.Name}} = append(x.{{$field.Name}}, {{$field.Type}}(value))
                        }
                        return nil
                    {{- else if eq $field.Kind 13 }}
                        bytes, err := protolizer.BytesDecode(buffer)
                        if err != nil {
                            return err
                        }
                        innerBuffer := protolizer.Alloc(0)
                        innerBuffer.Write(bytes)
                        defer protolizer.Dealloc(innerBuffer)
                        for innerBuffer.Len() != 0 {
                            value, err := protolizer.FloatDecoder(f, innerBuffer, protolizer.WireTypeVarint)
                            if err != nil {
                                return err
                            }
                            x.{{$field.Name}} = append(x.{{$field.Name}}, {{$field.Type}}(value))
                        }
                        return nil
                    {{- else if eq $field.Kind 14 }}
                        bytes, err := protolizer.BytesDecode(buffer)
                        if err != nil {
                            return err
                        }
                        innerBuffer := protolizer.Alloc(0)
                        innerBuffer.Write(bytes)
                        defer protolizer.Dealloc(innerBuffer)
                        for innerBuffer.Len() != 0 {
                            value, err := protolizer.DoubleDecoder(f, innerBuffer, protolizer.WireTypeVarint)
                            if err != nil {
                                return err
                            }
                            x.{{$field.Name}} = append(x.{{$field.Name}}, {{$field.Type}}(value))
                        }
                        return nil
                    {{- else if eq $field.Kind 24 }}
                        i := 0
                        for {
                            if i != 0 {
                                i, _, read, err := protolizer.TagPeek(buffer)
                                if err != nil {
                                    if err == io.EOF {
                                        return nil
                                    }
                                    return err
                                }
                                if i != int32(field.Tags.Protobuf.FieldNum) {
                                    break
                                }
                                read()
                            }
                            i++
                            value, err := protolizer.StringDecode(buffer)
                            if err != nil {
                                return nil
                            }
                            x.{{$field.Name}} = append(x.{{$field.Name}}, {{$field.Type}}(value))
                        }
                        return nil
                    {{- else if eq $field.Kind 25 }}
                        i := 0
                        for {
                            if i != 0 {
                                i, _, read, err := protolizer.TagPeek(buffer)
                                if err != nil {
                                    if err == io.EOF {
                                        return nil
                                    }
                                    return err
                                }
                                if i != int32(field.Tags.Protobuf.FieldNum) {
                                    break
                                }
                                read()
                            }
                            i++
                            data, err := protolizer.BytesDecode(buffer)
                            if err != nil {
                                return err
                            }
                            bytes := protolizer.Alloc(0)
                            var value {{$field.Type}}
                            bytes.Write(data)
                            err = protolizer.FastUnmarshal(value, data)
                            protolizer.Dealloc(bytes)
                            if err != nil {
                                return nil
                            }
                            x.{{$field.Name}} = append(x.{{$field.Name}}, {{$field.Type}}(value))
                        }
                        return nil
                    {{- else }}
                        return fmt.Errorf("unsupported index type %T", x.{{$field.Name}})
                    {{- end }}
                {{- else if eq $field.Kind 21}}
                   c.Metadata = make(map[string]string)
                    i := 0
                    for {
                        if i != 0 {
                            i, _, read, err := protolizer.TagPeek(buffer)
                            if err != nil {
                                if err == io.EOF {
                                    return nil
                                }
                                return err
                            }
                            if i != int32(field.Tags.Protobuf.FieldNum) {
                                break
                            }
                            read()
                        }
                        i++
                        bytes, err := protolizer.BytesDecode(buffer)
                        if err != nil {
                            return nil
                        }
                        innerBuffer := protolizer.Alloc(0)
                        innerBuffer.Write(bytes)
                        _, _, err := protolizer.TagDecode(innerBuffer)
                        if err != nil {
                            protolizer.Dealloc(innerBuffer)
                            return err
                        }
     
                       {{- if or eq $field.Key eq 1}}
                            key, err := protolizer.BooleanDecoder(field, buffer)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 2) (eq $field.Key 3) (eq $field.Key 4) (eq $field.Key 5) (eq $field.Key 6) }}
                            key, err := protolizer.SignedNumberDecoder(field, buffer)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 7) (eq $field.Key 8) (eq $field.Key 9) (eq $field.Key 10) (eq $field.Key 11) }}
                            key, err := protolizer.UnsignedNumberDecoder(field, buffer)
                            if err != nil {
                                return err
                            }
                        {{- else if or eq $field.Key eq 13}}
                            key, err := protolizer.FloatDecoder(field, buffer)
                            if err != nil {
                                return err
                            }    
                        {{- else if or eq $field.Key eq 14}}
                            key, err := protolizer.DoubleDecoder(field, buffer)
                            if err != nil {
                                return err
                            }     
                        {{- else if or eq $field.Key eq 24}}
                            key, err := protolizer.StringDecoder(field, buffer)
                            if err != nil {
                                return err
                            }            
                        {{- else }}
                            return fmt.Errorf("unsupported key type %T", key})
                        {{- end }}

                        
                        _, _, err := protolizer.TagDecode(innerBuffer)
                        if err != nil {
                            protolizer.Dealloc(innerBuffer)
                            return err
                        }

                        {{- if or eq $field.ValueTag eq 1}}
                            value, err := protolizer.BooleanDecoder(field, buffer)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 2) (eq $field.Key 3) (eq $field.Key 4) (eq $field.Key 5) (eq $field.Key 6) }}
                            value, err := protolizer.SignedNumberDecoder(field, buffer)
                            if err != nil {
                                return err
                            }
                        {{- else if or (eq $field.Key 7) (eq $field.Key 8) (eq $field.Key 9) (eq $field.Key 10) (eq $field.Key 11) }}
                            value, err := protolizer.UnsignedNumberDecoder(field, buffer)
                            if err != nil {
                                return err
                            }
                        {{- else if or eq $field.Value eq 13}}
                            value, err := protolizer.FloatDecoder(field, buffer)
                            if err != nil {
                                return err
                            }    
                        {{- else if or eq $field.Value eq 14}}
                            value, err := protolizer.DoubleDecoder(field, buffer)
                            if err != nil {
                                return err
                            }     
                        {{- else if or eq $field.Value eq 24}}
                            value, err := protolizer.StringDecoder(field, buffer)
                            if err != nil {
                                return err
                            }  
                        {{- else if or eq $field.Value eq 25}}
                            data, err := protolizer.BytesDecode(buffer)
                            if err != nil {
                                return err
                            }
                            var value {{$field.Type}}
                            err = protolizer.FastUnmarshal(value, data)
                            if err != nil {
                                return err
                            }  
                        {{- else }}
                            return fmt.Errorf("unsupported value type %T", value})
                        {{- end }}
                        c.Metadata[{{$field.Type}}(key)] = {{$field.Type}}(value)
                        protolizer.Dealloc(innerBuffer)
                        return nil
                {{- else if eq $field.Kind 24}}
                    value, err := protolizer.StringDecoder(field, buffer)
                     if err != nil {
                        return err
                    } 
                    x.{{$field.Name}} = {{- if eq $field.Optional true}}&{{end}}value
                    return nil
                {{- else if eq $field.Kind 25}}
                    var value {{$field.Type}}
                    bytes, err := protolizer.DecodeBytes(field, buffer)
                    if err != nil {
                        return err
                    }
                    err = protolizer.FastUnmarshal(value, bytes)
                     if err != nil {
                        return err
                    }     
                    x.{{$field.Name}} = {{- if eq $field.Optional true}}&{{end}}value    
                    return nil
                {{- else }}
                    return fmt.Errorf("unsupported field type %T", key})
                {{- end }}
            }
        {{- end }}   
        default: {
                return fmt.Errorf("invalid field")
        }     
    }    
} 

func (x *{{.Name}}) IsZero(field *protolizer.Field) bool {
    switch field.Tags.Protobuf.FieldNum {
        {{- range $field := .Fields}}
            case {{ $field.FieldNum }}: {
                {{- if eq $field.Kind 1}}
                    return {{if eq $field.Optional true}}*{{end}}x.{{$field.Name}} == false
                {{- else if or (eq $field.Kind 2) (eq $field.Kind 3) (eq $field.Kind 4) (eq $field.Kind 5) (eq $field.Kind 6) }} 
                    return {{if eq $field.Optional true}}x.{{$field.Name}} == nil {{else}} x.{{$field.Name}} == 0{{end}}
                {{- else if or (eq $field.Kind 7) (eq $field.Kind 8) (eq $field.Kind 9) (eq $field.Kind 10) (eq $field.Kind 11) }} 
                    return {{if eq $field.Optional true}}x.{{$field.Name}} == nil {{else}} x.{{$field.Name}} == 0{{end}}
                {{- else if eq $field.Kind 13}} 
                    return {{if eq $field.Optional true}}x.{{$field.Name}} == nil {{else}} x.{{$field.Name}} == 0{{end}}
                {{- else if eq $field.Kind 14}} 
                    return {{if eq $field.Optional true}}x.{{$field.Name}} == nil {{else}} x.{{$field.Name}} == 0{{end}}
                {{- else if eq $field.Kind 17}} 
                    return {{$field.Name}} == nil
                {{- else if eq $field.Kind 21}}
                    return {{$field.Name}} == nil
                {{- else if eq $field.Kind 24}}
                    return {{if eq $field.Optional true}}x.{{$field.Name}} == nil {{else}} len(x.{{$field.Name}}) == 0{{end}}
                {{- else if eq $field.Kind 25}}
                    {{if eq $field.Optional true}}return x.{{$field.Name}} == nil {{else}}return false {{end}}
                {{- else }}
                    return true
                {{- end }}
            }
        {{- end }}   
        default: {
           return true
        }     
    }    
} 

{{- end}}